{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facebook Poster</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <a class="navbar-brand" href="index.html">Hello {% if user.is_authenticated %} {{ user.first_name }} {{ user.last_name }} {% endif %}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link" href="{% url "home" %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "myposts" %}">My Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "post_new" %}">New Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "insights" %}">Insights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "logout" %}">Logout</a>
            </li>

          {% else %}

            <li class="nav-item">
              <a class="nav-link" href="{% url "home" %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "login" %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/promo322342056.jpeg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Facebook Poster</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% block blog_content %} {% endblock %}

          <br/>
          {% if is_paginated %}
            <div class="btn-group">
              <a class="btn btn-secondary btn-lg" {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% else %}disabled{% endif %}>Prev</a>
              <a class="btn btn-primary btn-lg" {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% else %}disabled{% endif %}>Next</a>
            </div>
          {% endif %}
        </div><!-- /.blog-main -->

        <div class="col-xs-2 col-xs-2 mx-auto">
          {% block insight_content %} {% endblock %}
          <br/>
        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">Back to top</a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Facebook Poster 2017</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>
  </body>
</html>

